@import "tailwindcss";

:root {
  --background: #E7E7E3;
}

@theme inline {
  --color-background: var(--background);

  --font-rubik: var(--font-rubik);
  --font-open-sans: var(--font-open-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}