@import "tailwindcss";

:root {
  --background: #E7E7E3;
}

@theme inline {
  --color-background: var(--background);

  --font-rubic: var(--font-rubic);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}